h2 {margin-top: 15px !important;}
h3 {margin-bottom: 20px !important;}
label {cursor: pointer;}
.form-control {margin: 5px 0px;}
.btn-primary {margin: 10px 0px !important; padding: 5px 30px !important;}
.btn-secondary {padding: 5px 30px !important;}
.confirmation {color: forestgreen;}
.error {color: red;}
.admin-line {padding-top: 15px;}
.floating-title {display: inline; margin-left: 11.8%;}
.floating-title-2 {display: inline; margin-left: 8%;}
.floating-button {float: right; display: inline;}