{% extends 'base.html.twig' %}

{% block title %}Bejelentkezés{% endblock %}

{% block body %}
    {{ form_start(form)}}
    <div class="col-lg-6 offset-lg-3">

        <div class="mb-3 row">
            <div class="col-md-12 text-center">
                <h2>Bejelentkezés</h2>
            </div>
        </div>

        <div class="mb-4 row">
            {% for label, messages in app.flashes(['error', 'success']) %}
                {% for message in messages %}
                    <div class="confirmation-container col-md-12 text-center">
                        {% if label == "error" %}
                            <span class="error">{{ message }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="mb-4 row">
            <div class="col-md-6 offset-md-3">
                {{ form_errors(form) }}
            </div>
        </div>

        <div class="mb-4 row">
            <div class="col-md-4 offset-md-4">
                {{ form_row(form._username) }}
            </div>
        </div>
        <div class="mb-4 row">
            <div class="col-md-4 offset-md-4">
                {{ form_row(form._password) }}
            </div>
        </div>

        <div class="mb-4 row">
            <div class="col-md-12 text-center">
                {{ form_row(form.submit) }}
            </div>
        </div>

        <div class="mb-4 row">
            <div class="col-md-12 text-center">
                <a href="/happyMed/public/index.php/registration" class="btn btn-secondary">Regisztráció</a>
            </div>
        </div>

    </div>
    {{ form_end(form) }}
{% endblock %}