{% extends 'base.html.twig' %}

{% block title %}Regisztráció{% endblock %}

{% block body %}
    {{ form_start(form)}}
    <div class="col-lg-6 offset-lg-3">

        <div class="mb-3 row">
            <div class="col-md-12 text-center admin-line">
                <h2 class="floating-title-2">Regisztráció</h2>
                <a href="/happyMed/public/index.php/login" class="btn btn-primary floating-button">Vissza</a>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-md-12 text-center">
                <h3>Új felhasználó regisztrálása</h3>
            </div>
        </div>

        <div class="mb-4 row">
            {% for label, messages in app.flashes(['error', 'success']) %}
                {% for message in messages %}
                    <div class="confirmation-container col-md-12 text-center">
                        {% if label == "success" %}
                            <span class="confirmation">{{ message }}</span>
                        {% else %}
                            <span class="error">{{ message }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="mb-4 row">
            <div class="col-md-4 offset-md-4">
                {{ form_row(form.name) }}
            </div>
        </div>

        <div class="mb-4 row">
            <div class="col-md-4 offset-md-4">
                {{ form_row(form.email) }}
            </div>
        </div>

        <div class="mb-4 row">
            <div class="col-md-4 offset-md-4">
                {{ form_row(form.password) }}
            </div>
        </div>

        <div class="mb-4 row">
            <div class="col-md-12 text-center">
                {{ form_row(form.submit) }}
            </div>
        </div>

    </div>
    {{ form_end(form) }}
{% endblock %}